*{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  /* padding: 20px; */
 
}
.Title{
  color: teal;
}

.video {
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid white;
  object-fit: contain;
}

.video h2 {
  margin: 10px 0;
  text-decoration: underline;
}

.error {
  color: red;
}

.pagination {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 20px; */
  /* border: 1px solid black; */
}
.video-list{
  width: 70%;
  /* border: 1px solid teal; */
  margin: auto;
  height: 100%;
  padding: 40px 40px;
  background-color: teal;

  
}

button{
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  /* margin: auto; */
}

button:hover{
  border: 1px solid teal;
  background-color: white;
  color: teal;
}

.pagination p{
 background-color: teal;
 padding: 8px 10px;
 border: 1px solid white;
 color: white;
}

.video-title{
  /* border:  1px solid black; */
  /* border-top: none; */
  background-color: white;
  color: teal;
  padding: 10px 20px;
}

.Likes-comm{
  width: 100%;
  margin: auto;
 border-bottom: 1px solid teal;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
  background-color: white;
  padding: 10px 0px;
}
.react-player{
  object-fit: contain;
  width: 80%;
  background-color: white;

}

