*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  /* padding: 20px; */
 
}
.Title{
  color: teal;
}

.video {
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid teal;
  object-fit: contain;
}

.video h2 {
  margin: 10px 0;
  text-decoration: underline;
}

.error {
  color: red;
}

.pagination {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
}
.video-list{
  width: 70%;
  /* border: 1px solid red; */
  margin: auto;
  height: 500px;
  
}

button{
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
}

button:hover{
  border: 1px solid teal;
  background-color: white;
  color: teal;
}

.pagination p{
 background-color: white;
 padding: 5px 10px;
 border: 1px solid teal;
 color: teal;
}

.video-title{
  border:  1px solid teal;
  background-color: teal;
  color: whitesmoke;
  padding: 10px 20px;
}